body {
    cursor: url('../img/finger.png'), auto;
}

.fullHeight>.scroll{
    height: 100%;
}

.bothSubscribed{
    display: none;
}

/* Logo */

.logo{
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
    background: url(../img/ix.png) no-repeat;
    background-size: cover;
}

/* Menu */

.notLoggedIn{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1%;
    text-align: center;
}

/* Bar counter */

.mainBar .right-buttons button .badge{
    position: absolute;
    right: 50%;
    top: 0;
}

/* Profile */

.profile .list{
    padding: 0;
}
.profile .item{
    border: none;
    padding: 8px 16px;
}
.profile .item.map-item{
    padding: 0 54px 0 0;
}
.profile .item-thumbnail-left{
    min-height: 104px;
    padding: 16px  16px 8px 112px;
}
.profile .avatar{
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 16px;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
}
.profile:not(.myProfile) .icon-status{
    left: 76px;
    top: 72px;
    height: 16px;
    width: 16px;
    font-size: 18px;
    position: absolute;
}
.myProfile .icon-status{
    position: absolute;
    left: 0;
    height: 100%;
    width: 16px;
    font-size: 18px;
}
.profile .icon-status.stable{
    display: none;
}
.profile .icon-status:before{
    width: 16px;
}
.profile .row, .profile .col{
    padding: 5px 0;
}
.profile .col:first-child{
    color: #888;
}
.profile .userNote{
    white-space: normal;
}

/* Index */

.profile .item-status{
    height: 43px;
}
.item-status>select{
    max-width: 100%;
    right: auto;
    padding-left: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    direction: ltr;
}
.profile .item-status-text{
    padding-left: 0;
}
.profile .item-status-text>i{
    font-size: 24px;
}

/* Map */

map{
    display: block;
    min-height: 100%;
}

/* Roster */

.roster .list{
    padding: 0;
}
.roster .item{
    width: 100%;
}

.roster .item-avatar{
    min-height: 64px;
    height: 64px;
    padding: 0;
    border: none;
}
.roster .user{
    height: 64px;
    padding: 12px 16px;
}
.roster .avatar{
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    margin-right: 16px;
    background-size: cover;
    background-position: center center;
}
.roster .icon-status{
    left: 42px;
    top: 36px;
    height: 16px;
    width: 16px;
    font-size: 18px;
    position: absolute;
}
.roster .icon-status.stable{
    display: none;
}
.roster .icon-status:before{
    width: 16px;
}
.roster .user h2{
    line-height: 20px;
    margin-bottom: 4px;
}
.roster .user p{
    line-height: 16px;
}

.roster .item-divider{
    height: 40px;
    border: none;
    line-height: 20px;
    padding: 10px 16px;
}

/* Chat */

.chat.has-footer{
    bottom: 88px;
}
.chat-bar.bar-footer{
    height: 88px;
}
.chat-bar.bar-footer textarea{
    height: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-bar textarea{
    resize: none;
    background: none;
}

.chat ion-list>.list{
    padding-top: 16px;
}
.chat ion-list .item{
    border-color: rgba(0,0,0,0);
    white-space: normal;
    padding-top: 0;
    padding-bottom: 32px;
}

.chat ion-list .chatstate{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -32px;
}
.chat ion-list .chatstate i:before{
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
}
.chat ion-list .chatstate i.composing:before{
    -webkit-animation: composing 200ms infinite linear;
    -moz-animation: composing 200ms infinite linear;
    -o-animation: composing 200ms infinite linear;
    -ms-animation: composing 200ms infinite linear;
    animation: composing 200ms infinite linear;
}
.chat ion-list .chatstate i.paused:before{
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    -moz-transform: translate3d(0, 0, 0) rotate(45deg);
    -o-transform: translate3d(0, 0, 0) rotate(45deg);
    -ms-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

@-moz-keyframes composing {
    0%, 100% { -moz-transform: rotate(-8deg); }
    50% { -moz-transform: rotate(8deg); } 
}
@-webkit-keyframes composing {
    0%, 100% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: rotate(8deg); }
}
@-o-keyframes composing {
    0%, 100% { -o-transform: rotate(-8deg); }
    50% { -o-transform: rotate(8deg); }
}
@-ms-keyframes composing {
    0%, 100% { -ms-transform: rotate(-8deg); }
    50% { -ms-transform: rotate(8deg); }
}
@keyframes composing {
    0%, 100% { transform: rotate(-8deg); }
    50% { transform: rotate(8deg); }
}

.chat ion-list .item .icon-delivered{
    margin-left: 8px;
}

.chat ion-list .item .messageBody{
    position: relative;
    padding: 10px 15px;
    max-width: 70%;
    border-radius: 0 4px 4px 4px;
}
.chat ion-list .item .messageBody:before{
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    border-width: 3px;
    border-style: solid;
}

.chat ion-list .item.self .messageBody{
    color: #fff;
    background-color: #4a87ee;
    float: right;
    border-radius: 4px 0 4px 4px;
}

.chat ion-list .item.self .messageBody:before{
    right: -6px;
    border-top-color: #4a87ee;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: #4a87ee;
}

.chat ion-list .item.notSelf .messageBody{
    color: #000;
    background-color: #e5e5ea;
    float: left;
}
.chat ion-list .item.notSelf .messageBody:before{
    left: -6px;
    border-top-color: #e5e5ea;
    border-right-color: #e5e5ea;
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
}

.chat ion-list .offlineMessage{
    float: left;
    display: block;
    clear: left;
    font-size: 12px;
    color: #888;
}

.chat ion-list .item.self .item-note{
    float: left;
}

/* Crop & Resize */

.cropResize{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.resize-container{
    position: absolute;
    display: block;
    cursor: move;
}

.resize-container img{
    display: block;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    width: 160px;
    height: 160px;
    pointer-events: none;
    z-index: 2;
}
.overlay:after, .overlay:before{
    content: '';
    position: absolute;
    display: block;
    width: 4096px;
    border-color: rgba(255,255,255,.4);
    border-width: 1968px;
    border
}
.overlay:before{
    left: -1968px;
    top: 0;
    height: 160px;
    border-left-style: solid;
    border-right-style: solid;
}
.overlay:after{
    left: -2028px;
    top: -1968px;
    height: 4096px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.resize-container:hover img, .resize-container:active img, .resize-container:hover .resize-handle, .resize-container:active .resize-handle{
    outline: 1px dashed rgba(0, 0, 0, .4);
}

.resize-handle-ne, .resize-handle-se, .resize-handle-nw, .resize-handle-sw{
    text-align: center;
    line-height: 24px;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background: rgb(255,255,255);
    z-index: 1;
}

.resize-handle-nw {
    top: -10px;
    left: -10px;
    cursor: nw-resize;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.resize-handle-sw {
    bottom: -10px;
    left: -10px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -10px;
    right: -10px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -10px;
    right: -10px;
    cursor: se-resize;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.btn-crop{
    position: absolute;
    vertical-align: bottom;
    right: 5px;
    bottom: 5px;
    padding: 6px 10px;
    z-index: 999;
    background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
}

.btn-crop img{
    vertical-align: middle;
    margin-left: 8px;
}

/* webcam */

.webCamModal>.scroll{
    height: 100%;
    perspective: 1000;
}
.videoWrapper, .pictureWrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    width: 160px;
    height: 160px;

    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    transition: transform 200ms ease-in-out;
    -o-transition: -o-transform 200ms ease-in-out;
    -ms-transition: -ms-transform 200ms ease-in-out;
    -moz-transition: -moz-transform 200ms ease-in-out;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.videoWrapper{
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.videoWrapper.pictureTaken{
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.videoWrapper video{
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
.pictureWrapper{
    transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.pictureWrapper.pictureTaken{
    transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}
.pictureWrapper .button-bar{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 47px;
}